<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LSSynchronization_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sql-dev-01.landsteinar-nl.local:7047/NAV2013R2_LS71_OCP_DEV/WS/CRONUS%20LS%2071%20W1%20Demo%20v15/Codeunit/LSSynchronization"
                binding="basicHttpBinding" bindingConfiguration="LSSynchronization_Binding"
                contract="ServiceReference1.LSSynchronization_Port" name="LSSynchronization_Port" />
        </client>
    </system.serviceModel>
</configuration>